<extend name="Public:public"/>
<block name="advertadd">
	<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span>添加公告</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="__URL__/insert" method="post" enctype="multipart/form-data"> 
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">图片</label> 
       <div class="mws-form-item"> 
        <input class="large" type="file" name="picname" /> 
       </div> 
      </div> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">描述</label> 
       <div class="mws-form-item"> 
        <input class="large" type="text" name="describe"/> 
       </div> 
      </div> 

       <div class="mws-form-row"> 
       <label class="mws-form-label">赞助商</label> 
       <div class="mws-form-item"> 
        <input class="large" type="text" name="sponspr"/> 
       </div> 
      </div> 
     <div class="mws-button-row"  style="text-align:center;">
      <input value="添加" class="btn btn-danger" type="submit" /> 
      <input value="重置" class="btn " type="reset" /> 
     </div> 
    </form> 
   </div> 
  </div>
 </body>
</html>
</block>
<block name="title">
  添加公告
</block>