<extend name="Public:public"/>
<block name="nodeedit">
	<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span>节点修改</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="__URL__/update" method="post"> 
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">节点名</label> 
       <div class="mws-form-item"> 
        <input class="large" type="text" name="name" value="{$info['name']}"/> 
       </div> 
      </div>
      <div class="mws-form-row"> 
       <label class="mws-form-label">控制器名</label> 
       <div class="mws-form-item"> 
        <input class="large" type="text" name="controller" value="{$info['controller']}"/> 
       </div> 
      </div>
      <div class="mws-form-row"> 
       <label class="mws-form-label">方法名</label> 
       <div class="mws-form-item"> 
        <input class="large" type="text" name="function" value="{$info['function']}"/> 
       </div> 
      </div>

      
     <div class="mws-button-row"> 
      <input type="hidden" name="id" value="{$info['id']}">
      <input value="修改" class="btn btn-danger" type="submit" /> 
      <input value="重置" class="btn " type="reset" /> 
     </div> 
    </form> 
   </div> 
  </div>
 </body>
</html>
</block>
<block name="title">
	节点修改
</block>