<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>结算页面</title>

		<link href="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />

		<link href="__PUBLIC__/Homes/basic/css/demo.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Homes/css/cartstyle.css" rel="stylesheet" type="text/css" />

		<!-- head -->
		<link rel="Shortcut Icon" href="__PUBLIC__/Homes/images/icon.jpg" type="image/x-icon">
		<link href="__PUBLIC__/Homes/basic/css/demo.css" rel="stylesheet" type="text/css" type="text/css"/>
		<link href="__PUBLIC__/Homes/css/hmstyle.css" rel="stylesheet" type="text/css"/>
		<link href="__PUBLIC__/Homes/css/skin.css" rel="stylesheet" type="text/css" />
		<script src="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
		<link href="__PUBLIC__/Homes/css1/index_002.css" rel="stylesheet" type="text/css" />
		<!-- head -->

		<link href="__PUBLIC__/Homes/css/jsstyle.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="__PUBLIC__/Homes/js/address.js"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Homes/css2/index.css">
		<link media="all" href="__PUBLIC__/Homes/css/index.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="__PUBLIC__/Homes/js/jquery-1.8.3.min.js"></script>

	</head>
	<include file="Public/sshead"/>
		<h1 style="font-size:40px;text-align:center;">需付款:￥{$Think.session.total}</h1>
		<a href="__MODULE__/Bycar/dosuccess?id={$Think.session.address_id}"><img src="__PUBLIC__/Homes/images/fukuan.png" alt="" style="width:400px;height:400px;margin-left:450px;margin-bottom:100px"/></a>
			

	<include file="Public/pfooter"/>
	</body>
</html>