<extend name="Public:public"/>
<block name="rootedit">
	<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span>用户修改</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="__URL__/update" method="post"> 
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">用户名</label> 
       <div class="mws-form-item"> 
        <input class="large" type="text" name="username" value="{$info['username']}"/> 
       </div> 
      </div> 
      

       
      <div class="mws-form-row"> 
       <label class="mws-form-label">状态</label> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="status" type="radio" value="2" <if condition="$info.status eq 2">checked</if>/>管理员&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="status" type="radio" value="3" <if condition="$info.status eq 3">checked</if> />超级管理员
      </div> 
      
     <div class="mws-button-row"> 
      <input type="hidden" name="id" value="{$info['id']}">
      <input value="修改" class="btn btn-danger" type="submit" /> 
      <input value="重置" class="btn " type="reset" /> 
     </div> 
    </form> 
   </div> 
  </div>
 </body>
</html>
</block>
<block name="title">
	用户修改
</block>