<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>列表页面</title>
		<style type="text/css">
		#did:hover{
			border: 1px solid #FF1779;
		}
		</style>

		<link href="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />

		<link href="__PUBLIC__/Homes/basic/css/demo.css" rel="stylesheet" type="text/css" />

		<link href="__PUBLIC__/Homes/css/seastyle.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="__PUBLIC__/Homes/basic/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Homes/js/script.js"></script>
		<link href="__PUBLIC__/Homes/css1/index_002.css" rel="stylesheet" type="text/css" />
		<link rel="Shortcut Icon" href="__PUBLIC__/Homes/images/icon.jpg" type="image/x-icon">
		<link media="all" href="__PUBLIC__/Homes/css/index.css" type="text/css" rel="stylesheet">
	</head>

	<body>

			<include file="Public/head"/>
			<b class="line"></b>
           <div class="search">
			<div class="search-list">
			<div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					  <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">省钱团购</a></li>
                                <li class="qc"><a href="#">品质优选</a></li>
                                <!-- <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li> -->
							</ul>
						    <!-- <div class="nav-extra">
						    	<b></b>我的福利
						    	
						    </div> -->
						</div>
			</div>
			
				
					<div class="am-g am-g-fixed">
						<div class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">														
							<div class="searchAbout">
								
								<!-- <a title="坚果" href="#">坚果</a>
								<a title="瓜子" href="#">瓜子</a>
								<a title="鸡腿" href="#">豆干</a> -->

							</div>
							<ul class="select">
								<volist name="name" id="names">
									<h1>{$names['name']}</h1>
								</volist>
								
								<!-- <p class="title font-normal">
									<span class="fl">松子</span>
									<span class="total fl">搜索到<strong class="num">997</strong>件相关商品</span>
								</p> -->
								<!-- <div class="clear"></div> -->
								<!-- <li class="select-result">
									<dl>
										<dt>已选</dt>
										<dd class="select-no"></dd>
										<p class="eliminateCriteria">清除</p>
									</dl>
								</li> -->
								<!-- <div class="clear"></div> -->
								<volist name="list" id="row">
								
								
								
								
								<li class="select-list" style="width: 50%;float: left" >
								<volist name="row['shop']" id="rows">
									<dl id="select1">
										
										<dt class="am-badge am-round">{$rows['name']}</dt>
									
										 <div class="dd-conent">									
										<volist name="rows['shop']" id="rowss">
											
											<dd><a href="__URL__/index?id={$names['id']}">{$rowss['name']}</a></dd>
										</volist>	
											<!-- <dd><a href="#">良品铺子</a></dd>
											<dd><a href="#">新农哥</a></dd>
											<dd><a href="#">楼兰蜜语</a></dd>
											<dd><a href="#">口水娃</a></dd>
											<dd><a href="#">考拉兄弟</a></dd>-->
								</div>
 									
									</dl>
								</volist>
								</li>
								</volist>        
							</ul>
							<div class="clear"></div>
                        </div>
							<div class="search-content">
								<div class="sort">
									<li class="first"><span title="综合">综合排序</span></li>
									<li><a title="销量" name="" href="__URL__/index2">销量排序</a></li>
									<li><a title="价格" name="cprice" href="__URL__/index1">价格优先</a></li>
								</div>
								<div class="clear"></div>

								<ul style="width: 1200px;border: 1px solid #ccc" class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
								<volist name="data" id="vo">
									<li id="uid">
										
										<div class="i-pic limit" id="did"  style="width: 240px">
											<a href="__MODULE__/Introduct/index?id={$vo['id']}"><img src="__ROOT__{$vo['picname']}" style="width: 240px;height: 330px"></a>
											<p class="title fl" style="width: 100%;height: 40px;">{$vo['goods']}</p>
											<p class="price fl">
												<b>¥</b>
												<strong style="font-size: 18px">{$vo['price']}</strong>
												<span style="color: black;margin-left: 5px">¥<del>{$vo['cprice']}</del></span>
											</p>
											<p class="number fl">
												销量<span>{$vo['num']}</span>
											</p>
										</div>
										
									</li>
									</volist>
								</ul>
							</div>
							<div class="search-side">
							</div>
							<div class="clear"></div>
							<!--分页 -->
							<ul class="am-pagination am-pagination-right">
								<span style="">{$pageinfo}</span>
							
							</ul>

						</div>
					</div>
					<include file="Public/pfooter"/>
		<div class="theme-popover-mask"></div>
		
	</body>
	
</html>
