<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>修改密码</title>

		<link href="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__PUBLIC__/Homes/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/Homes/css/stepstyle.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="__PUBLIC__/Homes/js/jquery-1.7.2.min.js"></script>
		<script src="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
		<script src="__PUBLIC__/Homes/js/jquery-1.8.3.min.js"></script> 
	    <link rel="Shortcut Icon" href="__PUBLIC__/Homes/images/icon.jpg" type="image/x-icon" /> 
	    <link href="__PUBLIC__/Homes/css1/index_002.css" rel="stylesheet" type="text/css" /> 
	    <link media="all" href="__PUBLIC__/Homes/css/index.css" type="text/css" rel="stylesheet" /> 

	</head>

	<body>
		<!--头 -->
		<include file="Public/phead" />
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">修改密码</strong> / <small>Password</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">重置密码</p>
                            </span>
							<span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<form class="am-form am-form-horizontal" action="__MODULE__/Personal/dopassword">
						<div class="am-form-group">
							<label for="user-old-password" class="am-form-label">原密码</label>
							<div class="am-form-content">
								<input type="password" id="user-old-password" placeholder="请输入原登录密码" name="password"><span></span>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-new-password" class="am-form-label">新密码</label>
							<div class="am-form-content">
								<input type="password" id="user-new-password" placeholder="请输入由6-20位数字及字母" name="repassword"><span></span>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-confirm-password" class="am-form-label">确认密码</label>
							<div class="am-form-content">
								<input type="password" id="user-confirm-password" placeholder="请再次输入上面的密码" name="repassword1"><span></span>
							</div>
						</div>
						<div class="info-btn">
							<input class="am-btn am-btn-danger" type="submit" value="保存修改"><span></span>
						</div>

					</form>

				</div>
				<!--底部-->
				<include file="Public/pfooter" />
			</div>

			<aside class="menu">
				<include file="Public/pleft" />
			</aside>
		</div>

	</body>
	<script type="text/javascript">
	// 阻止表单提交
	 PASS=false;
    REPASS=false;
    REPASS1=false;
    // 给form表单绑定提交时间
    $("form").submit(function(){
        if(PASS&&REPASS&&REPASS1){
            return true;
        }else{
            return false;
        }
    })

    //检测旧密码
    $("input[name='password']").blur(function(){
        var pass=$(this).val();
        if(pass==''){
            $(this).next().empty();
            // $(this).css('border','1px solid #dddddd');
        }else{
            s=$(this);
                $.post('__MODULE__/Personal/checkpass',{pass:pass},function(data){
                    if(data==1){
                       PASS=true;
                    }else{
                        // s.css('border','1px solid #dddddd');
                        s.next().html("输入原密码不正确").css('color','#FEC4D7');
                        PASS=false;
                    }
                })
        }

    })

    //检测新密码
    $("input[name='repassword']").blur(function(){
        repass=$(this).val();
        if(repass==''){
            $(this).next().empty();
            // $(this).css('border','1px solid #dddddd');
        }else{
            //正则判断
            var reg=/^\w{6,20}$/;
            if(!reg.test(repass)){
                $(this).next().html('密码格式错误').css('color','#FEC4D7');
                REPASS=false;
            }else{
                // s.css('border','1px solid #dddddd');
                // $(this).next().html("√").css('color','green');
                REPASS=true;
            }
        }

    })

     //确认新密码
    $("input[name='repassword1']").blur(function(){
        //获取确认密码值
        var repass1=$(this).val();
        if(repass1==''){
            $(this).next().empty();
            // $(this).css('border','1px solid #dddddd');
        }else{
            //获取密码
            var pass=$("input[name='password']").val();
            if(repass1!=repass){
                $(this).next().html('两次密码不一致').css('color','#FEC4D7');
                REPASS1=false;
            }else{
                // s.css('border','1px solid #dddddd');
                $(this).next().html("");
                REPASS1=true;
            }
        }
        
    })
	</script>
</html>