<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <title>商品页面</title> 
  <link href="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" /> 
  <link href="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" /> 
  <link href="__PUBLIC__/Homes/basic/css/demo.css" rel="stylesheet" type="text/css" /> 
  <link type="text/css" href="__PUBLIC__/Homes/css/optstyle.css" rel="stylesheet" /> 
  <link type="text/css" href="__PUBLIC__/Homes/css/style.css" rel="stylesheet" /> 
  <link href="__PUBLIC__/Homes/css1/index_002.css" rel="stylesheet" type="text/css" />
    <link rel="Shortcut Icon" href="__PUBLIC__/Homes/images/icon.jpg" type="image/x-icon">
  <script type="text/javascript" src="__PUBLIC__/Homes/basic/js/jquery-1.7.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Homes/basic/js/quick_links.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Homes/AmazeUI-2.4.2/assets/js/amazeui.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Homes/js/jquery.imagezoom.min.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Homes/js/jquery.flexslider.js"></script> 
  <script type="text/javascript" src="__PUBLIC__/Homes/js/list.js"></script> 
  <!-- <script type="text/javascript" src="__PUBLIC__/Homes/js/jquery-1.8.3.min.js"></script> -->
  <link media="all" href="__PUBLIC__/Homes/css/index.css" type="text/css" rel="stylesheet">
 </head> 
 <body> 
  <include file="Public/head"/> 
  <b class="line"></b> 
  <div class="listMain"> 
   <!--分类--> 
   <div class="nav-table"> 
    <div class="long-title">
     <span class="all-goods">全部分类</span>
    </div> 
    <div class="nav-cont"> 
     <ul> 
      <li class="index"><a href="#">省钱团购</a></li> 
      <li class="qc"><a href="#">品质优选</a></li> 
     </ul> 
    </div> 
   </div> 
   <ol class="am-breadcrumb am-breadcrumb-slash"> 
     
   </ol> 
   <script type="text/javascript">
					$(function() {});
					$(window).load(function() {
						$('.flexslider').flexslider({
							animation: "slide",
							start: function(slider) {
								$('body').removeClass('loading');
							}
						});
					});
				</script> 
   <div class="scoll" > 
    <section class="slider"> 
     <div class="flexslider"> 
      <ul class="slides"> 
       <li> <img src="__PUBLIC__/Homes/images/01.jpg" title="pic" /> </li> 
       <li> <img src="__PUBLIC__/Homes/images/02.jpg" /> </li> 
       <li> <img src="__PUBLIC__/Homes/images/03.jpg" /> </li> 
      </ul> 
     </div> 
    </section> 
   </div> 
   <!--放大镜-->
   <volist name="list" id="row">
   <div class="item-inform" style="margin-bottom: 50px"> 
    <div class="clearfixLeft" id="clearcontent"> 
     <div class="box"> 
      <script type="text/javascript">
								$(document).ready(function() {
									$(".jqzoom").imagezoom();
									$("#thumblist li a").click(function() {
										$(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
										$(".jqzoom").attr('src', $(this).find("img").attr("mid"));
										$(".jqzoom").attr('rel', $(this).find("img").attr("big"));
									});
								});
							</script> 
      <div class="tb-booth tb-pic tb-s310"> 
       <a href="__PUBLIC__/Homes/images/01.jpg"><img src="__ROOT__{$row['picname']}" alt="细节展示放大镜特效" rel="__ROOT__{$row['picname']}" class="jqzoom" /></a> 
      </div> 
      <ul class="tb-thumb" id="thumblist" style="margin-left: 100px"> 
       <li class="tb-selected"> 
        <div class="tb-pic tb-s40"> 
         <a href="#"><img src="__ROOT__{$row['picname']}" mid="__ROOT__{$row['picname']}" big="__ROOT__{$row['picname']}" /></a> 
        </div> </li> 
       <li> 
        <div class="tb-pic tb-s40"> 
         <a href="#"><img src="__ROOT__{$row['picname']}" mid="__ROOT__{$row['picname']}" big="__ROOT__{$row['picname']}" /></a> 
        </div> </li> 
       <li> 
        <div class="tb-pic tb-s40"> 
         <a href="#"><img src="__ROOT__{$row['picname']}" mid="__ROOT__{$row['picname']}" big="__ROOT__{$row['picname']}" /></a> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="clear"></div> 
    </div> 
    <div class="clearfixRight"> 
     <!--规格属性--> 
     <!--名称--> 
     <div class="tb-detail-hd"> 
      <h1 style="font-size: 28px"> {$row['goods']} </h1> 
     </div> 
     <div class="tb-detail-list">
      <!--价格-->
      <div class="tb-detail-price"> 
       <li class="price iteminfo_price" style="margin-top: 20px"> 
        <dt>
         促销价:
        </dt> 
        <dd style="position: relative;bottom:5px">
         <em>&yen;</em>
         <b class="sys_item_price">{$row['cprice']}</b> 
        </dd>
        <span style="margin-left: 340px;color:#A9A9A9">评价累计:
            <span style="color:black">{$count}</span>
        </span> 
        <div style="margin-left: 590px;color:#A9A9A9;position: relative;bottom: 26px;">累计销量:
          <span style="color:black">{$row['num']}</span>
        </div>
         </li> 
       <li class="price iteminfo_mktprice"> 
        <dt>
         价格
        </dt> 
        <dd>
         <em>&yen;</em>
         <b class="sys_item_mktprice">{$row['price']}</b>
        </dd> </li> 
       <div class="clear"></div> 
      </div> 
      <div class="clear"></div>  
      <div class="clear"></div> 
      <!--各种规格--> 
      <dl class="iteminfo_parameter sys_item_specpara" style="margin-top: 10px"> 
       <dt class="theme-login">
        <div class="cart-title">
         可选规格
         <span class="am-icon-angle-right"></span>
        </div>
       </dt> 
       <dd> 
        <!--操作页面--> 
        <div class="theme-popover-mask"></div> 
        <div class="theme-popover"> 
         <div class="theme-span"></div> 
         <div class="theme-poptit"> 
          <a href="javascript:;" title="关闭" class="close">&times;</a> 
         </div> 
         <div class="theme-popbod dform"> 
          <form class="theme-signin" name="loginform" action="" method="post"> 
           <div class="theme-signin-left"> 
            <div class="theme-options" style="margin-bottom: 10px"> 
             <div class="cart-title">
              颜色
             </div> 
             <ul> 
              <li class="sku-line color selected">{$row['color']}<i></i></li> 
             </ul> 
            </div> 
            <div class="theme-options"> 
             <div class="cart-title">
              尺码
             </div> 
             <ul> 
              <li class="sku-line size selected">{$row['size']}<i></i></li> 
             </ul> 
            </div> 
            <div class="theme-options"> 
             <div class="cart-title number">
              数量
             </div> 
             <dd> 
              <input id="min" class="am-btn am-btn-default" name="" type="button" value="-" /> 
              <input style="width: 50px;height: 29px;text-align: center" id="text_box" name="{$row['id']}" type="text" value="1" /> 
              <input id="add" class="am-btn am-btn-default" name="" type="button" value="+" /> 
              <span id="Stock" class="tb-hidden">库存<span class="stock">{$row['store']}</span>件</span> 
             </dd> 
            </div> 
            <div class="theme-options"> 
             <div class="cart-title">
              添加收藏
             </div> 
             <ul> 
              <a href="__MODULE__/Favorite/index?id={$row['id']}&price={$row['cprice']}&picname={$row['picname']}&goods={$row['goods']}"><img src="__PUBLIC__/Homes/image/sc.png" alt=""></a> 
             </ul> 
            </div>
            <div class="clear"></div> 
            <div class="btn-op"> 
             <div class="btn am-btn am-btn-warning">
              确认
             </div> 
             <div class="btn close am-btn am-btn-warning">
              取消
             </div> 
            </div> 
           </div> 
           <div class="theme-signin-right"> 
            <div class="img-info"> 
             <!-- <img src="../images/songzi.jpg" />  -->
            </div> 
            <div class="text-info"> 
             <span class="J_Price price-now">&yen;39.00</span> 
             <span id="Stock" class="tb-hidden">库存<span class="stock">100</span>件</span> 
            </div> 
           </div> 
          </form> 
         </div> 
        </div> 
       </dd> 
      </dl> 
      <div class="clear"></div> 
      <!--活动	--> 
      <div class="shopPromotion gold"> 
       <div class="hot"> 
        <dt class="tb-metatit">
         店铺优惠:
        </dt> 
        <div class="gold-list"> 
         <p>全年狂欢场</p> 
        </div> 
       </div>
       <div>
          <dt class="tb-metatit" style="position: relative;right: 56px;bottom: 3px">
              价格:
              <dd style="position: relative;right: 23px;top:6px">
               <em>&yen;</em>
               <b class="sys_item_mktprice"><del>{$row['price']}</del></b>
              </dd>
          </dt> 
       </div> 
       <div class="clear"></div> 
       <!-- <div class="coupon"> 
        <dt class="tb-metatit">
         优惠券
        </dt> 
        <div class="gold-list"> 
         <ul> 
          <li>125减5</li> 
          <li>198减10</li> 
          <li>298减20</li> 
         </ul> 
        </div> 
       </div>  -->
      </div> 
     </div> 
     <div class="pay"> 
      <div class="pay-opt"> 
       <a href="home.html"><span class="am-icon-home am-icon-fw">首页</span></a> 
       <a><span class="am-icon-heart am-icon-fw">收藏</span></a> 
      </div> 
     <!--  <li> 
       <div class="clearfix tb-btn tb-btn-buy theme-login"> 
        <a id="LikBuy" style="width: 190px;height: 50px;line-height: 45px;font-size: 20px;" title="点此按钮到下一步确认购买信息" href="javascript:void(0)">立即购买</a> 
       </div> </li>  -->
      <li> 
       <div class="clearfix tb-btn tb-btn-basket theme-login"> 
        <a id="LikBasket" style="width: 190px;height: 50px;line-height: 45px;font-size: 20px;" title="加入购物车" href="javascript:void(0)"><i></i>加入购物车</a> 
       </div> </li> 
       <script type="text/javascript">
       $("#LikBasket").click(function(){
       if($(".color").hasClass('selected')&&($(".size")).hasClass('selected')){
          return true;
       }else{
        alert('请先选择商品信息');
        return false;
       }
     })
       // $("#LikBuy").click(function(){
       //    if($(".color").hasClass('selected')&&($(".size")).hasClass('selected')){
       //        return true;
       //     }else{
       //      alert('请先选择商品信息');
       //      return false;
       //     }
       // })
       // a=$("#text_box").val();
       // // if()
       $("#LikBasket").click(function(){
        var num=$("#text_box").val();
        var id=$("#text_box").attr('name');
        // alert(id);
        if(num<=0){
          alert('请输入正确的数量');
          $(this).val('1');
        }else{
            //Ajax
            s=$(this);
            $.post('__MODULE__/Introduct/checknum',{num:num,id:id},function(data){
                if(data==1){
                    $("#LikBasket").attr('href',"javascript:void(0)");
                    // $("#LikBuy").attr('href',"javascript:void(0)");
                    alert("请输入正确的数量");
                    
                }else{
                  $("#LikBasket").attr('href',"__MODULE__/Bycar/add?id={$row['id']}&num="+num);
                  // $("#LikBuy").attr('href',"__MODULE__/Pay/add?id={$row['id']}&num="+num);
                }
            })
        } 
       })
       // $("#LikBuy").click(function(){
       //  var num=$("#text_box").val();
       //  var id=$("#text_box").attr('name');
       //  // alert(id);
       //  if(num<=0){
       //    alert('请输入正确的数量');
       //    $(this).val('1');
       //  }else{
       //      //Ajax
       //      $.post('__MODULE__/Introduct/checknum',{num:num,id:id},function(data){
       //          if(data==1){
       //              $("#LikBasket").attr('href',"javascript:void(0)");
       //              $("#LikBuy").attr('href',"javascript:void(0)");
       //              alert("请输入正确的数量");
                    
       //          }else{
       //            $("#LikBasket").attr('href',"__MODULE__/Bycar/add?id={$row['id']}&num="+num);
       //            $("#LikBuy").attr('href',"__MODULE__/Pay/add?id={$row['id']}&num="+num);
       //          }
       //      })
       //  } 
       // })
      </script>
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
   </volist>
   <!-- introduce--> 
   <div class="introduce"> 
    <div class="browse"> 
     <div class="mc"> 
      <ul> 
       <div class="mt" style="height: 40px;line-height: 40px;font-size: 18px"> 
        看了又看
       </div>
       <volist name="data" id="row"> 
       <li class="first"> 
        <div class="p-img" style="width: 180px;height: 260px;margin:0 auto;background-color: red"> 
         <a href="__MODULE__/Introduct/index?id={$row['id']}&pid={$row['typeid']}"> <img class="" style="width: 100%;height: 100%" src="__ROOT__{$row['picname']}" /> </a> 
        </div> 
        <div class="p-name">
         <a href="#"> {$row['goods']} </a> 
        </div> 
        <div class="p-price">
         <strong>￥{$row['cprice']}</strong>
        </div> </li>
        </volist> 
      </ul> 
     </div> 
    </div> 
    <div class="introduceMain"> 
     <div class="am-tabs" data-am-tabs=""> 
      <ul style="width: 940px;margin-left: 10px" class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs"> 
       <li class="am-active"> <a href="#"> <span class="index-needs-dt-txt">宝贝详情</span></a> </li> 
       <li> <a href="#"> <span class="index-needs-dt-txt">全部评价</span></a> </li> 
       <li> <a href="#"> <span class="index-needs-dt-txt">猜你喜欢</span></a> </li> 
      </ul> 
      <div class="am-tabs-bd"> 
       <div class="am-tab-panel am-fade am-in am-active"> 
        <div class="J_Brand"> 
         <div class="attr-list-hd tm-clear"> 
          <h4>产品参数：</h4>
         </div> 
         <div class="clear"></div> 
         <ul id="J_AttrUL"> 
          <li title="">袖型:&nbsp;常规型</li> 
          <li title="">尺码:&nbsp;S,M,L</li> 
          <li title="">上衣厚度:&nbsp;适中</li> 
          <li title="">材质:&nbsp;棉</li> 
          <li title="">颜色:&nbsp;白色,粉色,晴空蓝</li> 
          <li title="">元素:&nbsp;拼色/撞色,罗纹,其他</li> 
          <li title="">领型:&nbsp;圆领</li> 
          <li title="">图案：&nbsp;其他</li> 
          <li title="">季节：&nbsp;夏季 </li> 
          <li title="">袖长：&nbsp;短袖</li>
         </ul> 
         <div class="clear"></div> 
        </div> 
        <div class="details"> 
         <div class="attr-list-hd after-market-hd"> 
          <h4>商品细节</h4> 
         </div> 
         <div class="twlistNews"> 
          <img src="__PUBLIC__/Images/77101615_6f3ak83kkl00329ged9249aa93ifb_1125x285.jpg" /> 
          <img src="__PUBLIC__/Images/83014602_65h7kalh8cbkhjh151f9706jgh17c_750x595.jpg" /> 
          <img src="__PUBLIC__/Images/83014602_1j5f904252kaldl185a0hlck25f03_750x1165.jpg" /> 
          <img src="__PUBLIC__/Images/83014602_0d94c39417i233a1i26gaaa5dl0c9_750x1159.jpg" /> 
         </div> 
        </div> 
        <div class="clear"></div> 
       </div> 
       <div class="am-tab-panel am-fade"> 
        <div class="clear"></div> 
        <div class="clear"></div> 
         <volist name="shopsss" id="sss">
        <ul class="am-comments-list am-comments-list-flip">
        
         <li class="am-comment">

          <!-- 评论容器 -->
           <!-- <if condition="$sss['pic'] eq null"><a href="#"> <img src="__PUBLIC__/Homes/images/no-img_mid_.jpg " class="am-comment-avatar"/></a> <else/><a href="__MODULE__/Personal/index"><img class="am-comment-avatar" src="__ROOT__{$sss['pic']}" /> </a></if> -->
           <!-- 评论者头像 -->
          <div class="am-comment-main"> 
           <!-- 评论内容容器 --> 
           <header class="am-comment-hd"> 
            <!--<h3 class="am-comment-title">评论标题</h3>--> 
            <div class="am-comment-meta"> 
             <!-- 评论元数据 --> 
             <span class="am-comment-author" name="aa">匿名评价:*******</span> 
             <!-- 评论者 --> 评论于 
             <time datetime="">{$sss['addtime']|date="Y-m-d",###}</time> 
            </div> 
           </header> 
           <div class="am-comment-bd"> 
            <div class="tb-rev-item " data-id="255776406962"> 
             <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
               商品评价:{$sss['content']}<p>客服回复:{$sss['reply']}</p>  
             </div> 
             <div class="tb-r-act-bar">
               颜色分类：{$sss['color']}&nbsp;&nbsp;尺码：{$sss['size']} 
             </div> 
            </div> 
           </div> 
           <!-- 评论内容 --> 
          </div> </li> 
       
         
        </ul> 
         </volist>
        <div class="clear"></div> 
        <!--分页 --> 
        <!-- <ul class="am-pagination am-pagination-right"> 
         <li class="am-disabled"><a href="#">&laquo;</a></li> 
         <li class="am-active"><a href="#">1</a></li> 
         <li><a href="#">2</a></li> 
         <li><a href="#">3</a></li> 
         <li><a href="#">4</a></li> 
         <li><a href="#">5</a></li> 
         <li><a href="#">&raquo;</a></li> 
        </ul> 
        <div class="clear"></div> 
        <div class="tb-reviewsft"> 
         <div class="tb-rate-alert type-attention">
          购买前请查看该商品的 
          <a href="#" target="_blank">购物保障</a>，明确您的售后保障权益。
         </div> 
        </div>  -->
       </div> 
       <div class="am-tab-panel am-fade"> 
        <div class="like"> 
         <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
         <volist name="datas" id="row"> 
          <li style="width: 200px;height: 330px;"> 
           <div class="i-pic limit" style="width: 180px;height: 260px;"> 
            <a href="__MODULE__/Introduct/index?id={$row['id']}&pid={$row['typeid']}"><img src="__ROOT__{$row['picname']}" /> </a>
             <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">{$row['goods']}</p>
            <p class="price fl"> <b>&yen;</b> <strong>{$row['cprice']}</strong> </p> 
           </div></li> 
          </volist>
         </ul> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
  </div> 
  <include file="Public/pfooter"/>
 </body>
</html>